body{
	font-family: 'Cabin', sans-serif;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover{
	text-decoration: none;
}

// Sass imports
@import "components/functions";
@import "components/home";
@import "components/navigation";
@import "components/button";
@import "components/product";