body{
	font-family: 'Cabin', sans-serif;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  }

a:hover{
	text-decoration: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background:none;
}

.container{
	padding: 0 15px;
}
button.btn-important{
	width:100%;
}
// Sass imports
@import "components/functions";
@import "components/home";
@import "components/navigation";
@import "components/button";
@import "components/product";
@import "components/shop";
@import "components/pages";
@import "components/cart";
@import "components/checkout";
