{{ partial('newsletter') }}

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul>
					<li><a class="head">Shop</a></li>
					{% for category in categories %}
            <li><a href="/category/{{ category.fullUrlName }}">{{category.name}}</a></li>
        	{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a class="head">About</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a class="head">Legal</a></li>
					<li><a href="">Deliver</a></li>
					<li><a href="">Terms and Conditions</a></li>
					<li><a href="">Warranty</a></li>
					<li><a href="">Help and FAQ</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a class="head">More</a></li>
					{% if customer %}
						<li><a href="/profile">Profile</a></li>
					{% endif %}
					<li><a href="">Sign up for Newsletter</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 social-foot text-center">
				<h5>Follow us Socially</h5>
				<ul>
					<li><a href="{{ theme.socialFacebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="{{ theme.socialTwitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="{{ theme.socialInstagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="{{ theme.socialMedium }}" target="_blank"><i class="fa fa-medium"></i></a></li>
				</ul>
				<p>Powered by <a href="https://lemonstand.com" target="_blank">LemonStand</a></p>
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ 'js/ajaxchimp.min.js'|theme_resource }}"></script>
<script src="{{ 'js/hammer.min.js'|theme_resource }}"></script>
<script src="{{ 'js/slider.min.js'|theme_resource }}"></script>
<script src="{{ 'js/main.js'|theme_resource }}"></script>
<script src="{{ 'js/checkout.js'|theme_resource }}"></script>
<script src="/cms/lemonstand.js"></script>

<script type="text/javascript">
	$('#mc-form').ajaxChimp({
	    url: '{{ theme.ajaxChimp }}'
	});
</script>
