<title>{{ theme.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">
<link rel="icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">



<link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ 'stylesheets/yamm.css'|theme_resource }}">
<link rel="stylesheet" type="text/css" href="/cms/core.css">

<link rel="stylesheet" href="{{ 'stylesheets/main.css'|theme_resource }}">
<link rel="stylesheet" href="{{ 'stylesheets/checkout.css'|theme_resource }}">


<style>

.home-feature {
 	background: url({{ theme.homeHeaderImage.thumbnail('auto', 'auto') }} )no-repeat center right;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .home-feature {
  -webkit-background-size: 100%;
  background-size: 100%;
  }
}
@media screen and (max-width: 480px) {
	.home-feature {
  -webkit-background-size: 90%;
  background-size: 90%;
	}
  
}
</style>