<div class="container-fluid newsletter">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h3 class="col-xs-12 col-sm-4">Sign up for updates</h3>
				<div class="form-group col-xs-12 col-sm-8">
			      <div>
			      	<form id="mc-form">
			      		<input type="email" class="form-control input-sm" placeholder="Email Address" size="40" id="mc-email"/>	
			      		<label for="mc-email"></label>
			      		<button class="btn btn-default">Submit</button>
			      	</form>
			      </div>
        		</div>
			</div>
		</div>
	</div>
</div>
