<div class="six columns padding-left card-edit-container">
    <h3>Saved Cards</h3>
    {% if customer.cards|length %}
    <table class="card-table">
        {% for card in customer.cards %}
        <tr>
            <th>{{card.card_and_brand}}</th>
            <th>
                <a
                class="edit-card"
                card="{{card.id}}"
                href="#"
                >Edit Card</a>
                {{ partial('shop-customerprofile-edit-card-form', {'card':card}) }}
                <input class="modal-state edit-modal" type="checkbox" style="display: none;" card-id="{{card.id}}">

            </th>
            <th>
                <a
                href="#"
                data-ajax-handler="shop:onDeleteCustomerCard"
                data-ajax-update="#profile-edit-card=shop-customerprofile-edit-card"
                data-ajax-extra-fields="deleteCardId='{{ card.id }}'"
                >Delete Card</a>
            </th>
        </tr>

        {% endfor %}
    </table>
    {% else %}
        <p>No saved cards available.</p>
    {% endif %}
    <input id="add-card" class="btn btn-important" value="Add Card" readonly="readonly">
    <input class="modal-state" id="modal-add" type="checkbox" style="display: none;">
    {{ flash() }}
</div>

{{ partial('shop-customerprofile-add-card-form') }}
