<div class="form-close" id="add-card-form">
    <div class="add-card-form">
        <h3>Add Card</h3>
        <div class="add-card-form-container">
            {{ customerCardForm('add', {
                options: { 
                    number:{
                        label: ' ',
                        placeholder: 'Card Number', 
                        style: "font-family: verdana; letter-spacing: 0px; font-weight: 200; font-size: 12px; color: rgb(58, 61, 63); padding: 15px 19px 15px 20px; border: 1px solid #ccc; width: 91%;",
                    },
                    cvv: {
                        label: ' ',
                        placeholder: 'CVV',
                        style: "font-family: verdana; letter-spacing: 0px; font-weight: 200; font-size: 12px; color: rgb(58, 61, 63); padding: 15px 19px 15px 20px; border: 1px solid #ccc; width: 91%;",
                    },
                    is_default: {
                        label:'Make my default card'
                    },
                    expiry: {
                        label:' '
                    },
                    full_name: {
                        label:' ',
                        placeholder: 'Cardholder Name'
                    },
                }
            }, {
              'data-ajax-update': "#profile-edit-card=shop-customerprofile-edit-card"
            }) }}
        </div>
    </div>
</div>
