{% set on_sale = product.onSale %}
<div class="container product-detail-top">
   <div class="row">
      <div class="col-md-7 row">
          <!-- DESKTOP PRODUCTS -->
         <div class="col-md-2 product-gallery">
            {% for img in product.images %}
              <img src="{{ img.thumbnail('auto', 'auto') }}" onclick='changeImage("{{ img.thumbnail('auto', 'auto') }}")' alt="">
            {% endfor %}
         </div>

         <!-- MOBILE PRODUCT SLIDER -->
        <div class="col-md-12 banner" style="width:100%;">
          <ul>
          {% for image in product.images %}
            <li style="list-style:none;">
              <img src="{{ image.thumbnail('auto', 'auto') }}" alt="{{ product.name }}">
            </li>
          {% endfor %}
          </ul>
        </div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            {% set imageCount = product.images.count %}
            <div class="item active">
              <img src="{{ product.images[0].thumbnail('auto', 'auto') }}" alt="{{ product.name }}" alt="..."> 
            </div>
            {% if imageCount > 1 %}
              
              {% for i in 1..imageCount-1 %}
                <div class="item">
                  <img src="{{ product.images[i].thumbnail('auto', 'auto') }}" alt="{{ product.name }}" alt="..."> 
                </div>
                
              {% endfor %}
            {% endif %}
            
            
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

         <div class="col-md-10 main-img">
              <img src="{{ product.images.first.thumbnail('auto','auto') }}" id="big-thumb" alt="" >            
         </div>
      </div>

      <div class="col-md-5 row product-detail">
<!-- ============================= Product name and price -->      
        <div class="col-md-12">
          <h1>{{ product.name }} <span>
            {% if on_sale %}
              <small class="full-price">{{ product.fullPrice|currency }}</small>
            {% endif %}
            {{ product.price|currency }}</span>
          </h1>
          <h2>{{ product.manufacturer.name }}</h2>
          <hr>
          <p>{{ product.description|unescape }}</p>
        </div>
<!-- ============================= Product Quantity -->
{% if not product.isOutOfStock() or product.allow_preorder %} 
        
      <div class="attribute-group">   
        {{ partial('shop-product-options') }}
      </div>
      <div class="attribute-group">
        {{ partial('shop-product-attributes') }}
      </div>
      <div class="attribute-group">
        {{ partial('shop-product-extras') }}
      </div>

        <div class="col-md-12 attribute-group">
          <input type="hidden" name="productId" value="{{ product.id }}"/>
          <div class="add-cart-holder form-group">
            <div class="quantity-selector">
              <p class="title">Quantity</p>
              <input class="form-control quantity" type="text" value="{{ quantity|default("1") }}" name="quantity"/>
            </div>
          </div>
          <div class="add-to-cart-div">
            <a class="btn btn-important add-to-cart" data-ajax-handler="shop:onAddToCart" data-ajax-update="#product-page=shop-product, #mini-cart=shop-minicart, #cart-totals=shop-minicart-totals" >Add to Cart </a> 
          </div>
        </div>

        <!-- Button trigger modal -->
        <div class="col-md-12">
          <hr>
          {% set product_rating = product.rating() %}
          <p>
            {% if product_rating.total_reviews %}
          <span style="margin-right: -4px">
            {% for i in range(1, product_rating.average_int) %}&starf;{% endfor %}
          </span>
          {% if product_rating.average_int != 5 %}{% for i in range(1, 5 - product_rating.average_int) %}&star;{% endfor %}{% endif %}
           ({{ product_rating.total_reviews }})
          {% else %}
          &star;&star;&star;&star;&star;
           (no reviews yet)
          {% endif %}
          
          <span class="modal-controls">
          
          {% if product_rating.total_reviews  %}
           <a href="#reviews" data-toggle="modal" data-target="#writeModal">write</a>
           <a href="#reviews" data-toggle="modal" data-target="#viewModal">view</a>

          {% else %}
           <a href="#reviews" data-toggle="modal" data-target="#writeModal">write</a>
          {% endif %}
          </span>
          </p>
        </div>
      
        <div class="to-cart-flash col-md-12">
          <p class="custome-msg" style="font-size:0;visibility:hidden;">{{product.name}} was added to your cart.</p>
          {{ flash() }}
        </div>

        


{% else %}
  <div class="not-available">
    <h5>This product is temporarily unavailable</h5>
  <div>
{% endif %}
    
        
      </div>
   </div>
</div>

<div class="container product-detail-bottom">
  {% if product.width or product.materials or product.details %}
  <h1>
    Product Specs and Details
  </h1>
  <div class="col-md-6 spec-row">
    {% if product.width %}
      <div class="col-md-12">
        <div class="col-md-5">
          <h4>Dimensions</h4>
        </div>
        <div class="col-md-7 text-right">
          <p>{{ product.width }} x {{ product.height }} x {{ product.depth }}</p>
        </div>
      </div>
    {% endif %}
    {% if product.materials %}
    <div class="col-md-12">
      <div class="col-md-5">
        <h4>Materials</h4>
      </div>
      <div class="col-md-7 text-right">
        <p>{{ product.materials|unescape}}</p>
      </div>
    </div>
    {% endif %}
    {% if product.details %}
    <div class="col-md-12">
      <div class="col-md-5">
        <h4>Details</h4>
      </div>
      <div class="col-md-7 text-right">
        <p>{{ product.details|unescape}}</p>
      </div>
    </div>
    {% endif %}
  </div>
{% endif %}

  {% if product.related.count %}
  <div class="col-md-12">
    <h1>Related products</h1>
    {% for product in product.related %}
      {{ partial('shop-grid-item', {'product': product}) }}
    {% endfor %}
    {% endif %}
  </div>
  
  <div class="col-md-6 facebook">
    {% if theme.fbCommentsAppIDText > 0 %} <!-- if Facebook App ID is entered, display comments -->
      <h4 class="text-center"></h4>
      <!-- Product Reviews -->
      <div class="col-md-12">
        <div id="fb-root">
          
        </div>
        <script>                            
          (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id))
                  return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId={{ theme.fbCommentsAppIDText }}"; // uses App ID specified in custom options.
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-comments" data-width="730" data-href="https:{{ site_url('/') }}product/{{ product.url_name}}" data-num-posts="10"></div> 
      </div>
      <!-- End class="product-reviews" -->
    {% endif %}
  </div>
  
</div>

<script type="text/javascript">
  function changeImage(a) {
    document.getElementById("big-thumb").src=a;
  };
</script>