<div>
    <div class="modal">
        <div class="modal-fade-screen" id="edit-{{card.id}}">
            <div class="modal-inner edit-card-modal">
                <div class="modal-close"></div>
                <h1>Edit Card</h1>
                {{ customerCardForm('update', {
                    card: card,
                    options: {
                        number:{
                            placeholder: 'Card Number',
                            style: "font-family: Courier New, Courier, monospace; letter-spacing: 0px; font-weight: 200; font-size: 16px; color: rgb(58, 61, 63); line-height: 32px; width: 345px;"
                        },
                        cvv: {
                            placeholder: 'CVV',
                            style: "font-family: Courier New, Courier, monospace; letter-spacing: 0px; font-weight: 200; font-size: 16px; color: rgb(58, 61, 63); line-height: 32px; width: 345px;"
                        },
                        is_default: {
                            label:'Make my default card'
                        }
                    }
                }, {
                    'data-ajax-update': "#profile-edit-card=shop-customerprofile-edit-card"
                }) }}

            </div>
        </div>
    </div>
</div>
