<div>   
    <div class="modal">
        <div class="modal-fade-screen modal-form-fade-screen">
            <div class="modal-inner add-card-modal">
                <div class="modal-close" for="modal-1"></div>
                <h1>Add Card</h1>
                {{ customerCardForm('add', {
                    options: {
                        number:{
                            placeholder: 'Card Number',
                            style: "font-family: Courier New, Courier, monospace; letter-spacing: 0px; font-weight: 200; font-size: 16px; color: rgb(58, 61, 63); line-height: 32px; width: 345px;"
                        },
                        cvv: {
                            placeholder: 'CVV',
                            style: "font-family: Courier New, Courier, monospace; letter-spacing: 0px; font-weight: 200; font-size: 16px; color: rgb(58, 61, 63); line-height: 32px; width: 345px;"
                        },
                        is_default: {
                            label:'Make my default card'
                        }
                    }
                }, {
                  'data-ajax-update': "#profile-edit-card=shop-customerprofile-edit-card"
                }) }}

            </div>
        </div>
    </div>
</div>
