@import "components/functions";
.btn-default {
	border: 2.5px solid #333;
	border-radius:0;
	padding:10px 25px;
	background: none;	
	margin-top:10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:0.9em;

	@include transition(0.2s);

	&:hover{
		background: #333;
		color: white;
		border: 2.5px solid #333;
	}
}



.btn-important{
	position: relative;
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-size:1.3em;
  display: block;
  background: #64BFE3;
  padding:10px;
  margin-bottom:3px;
  margin-top:0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px rgba(56,156,196,1), 0px 9px 25px rgba(0,0,0,.0);
  -moz-box-shadow: 0px 3px 0px rgba(56,156,196,1), 0px 9px 25px rgba(0,0,0,.0);
  box-shadow: 0px 3px 0px rgba(56,156,196,1), 0px 9px 25px rgba(0,0,0,.0);

  @include transition(0.1s);

  &:hover{
  	color: white;
  	margin-top:3px;
  	margin-bottom:0;
  	-webkit-box-shadow: 0px 0px 0px rgba(56,156,196,1), 0px 9px 25px rgba(0,0,0,.0);
  	-moz-box-shadow: 0px 0px 0px rgba(56,156,196,1), 0px 9px 25px rgba(0,0,0,.0);
  	box-shadow: 0px 0px 0px rgba(56,156,196,1), 0px 9px 25px rgba(0,0,0,.0);
  }
}
