@import "components/functions";

#checkout-row{
	padding-bottom:60px;
}

#receipt{
	padding:70px 15px;
}


@media screen and (max-width: 480px) {
.checkout-cart-items{
	padding: 0 15px;
}
.checkout-tab p{
	text-align: center;
}
}

.disabled{
  pointer-events:none;
  background-color:#eee;
}