@import "components/functions";
.home-feature{
	@include background-image('../images/main-bg.jpg');
	min-height:500px;
	.container{
		padding-top: 130px;
		.col-md-4{
			text-align: center;

			h1{
				color: rgb(93, 98, 102);
			}
			p{
				font-size:1.2em;
				color:#acb1b4;
			}
		}
	}
}

.home-categories{
	padding:0;
	.home-box{
		padding: 0;
		position: relative;
		img{
			width:100%;
		}
		&:hover .home-box-content{
			opacity:1;
			pointer-events: auto;
			top:0;
		}
		.home-box-content{
			position:absolute;
			top:40px;
			width:100%;
			padding-top:10%;
			height:100%;
			background: rgba(255, 255, 255, 0.98);
			text-align: center;

			opacity:0;
			pointer-events:none;

			@include transition(0.2s);

			h2{
				color: rgb(93, 98, 102);
				font-weight: 600;
			}
			p{
				color: #acb1b4;
				font-size:1.2em;
			}
		}
	}
}

// ============================== Newsletter ==============================
.newsletter{
	padding: 50px 0;
	background:white;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	h3{
		margin-top:10px;
		text-align: right;
	}
	.form-group{
		input{
			border-radius:0;
		}
	}
	#mc-email{
		float: left;
		width:70%;
	}
	.btn{
		margin-top:0;
		width:20%;
		margin-left:20px;
	}
}

// ============================== Home Features ==============================
.home-features{
	background: #f7f8f9;
	padding: 50px 15px;
}



// ============================== MOBILE STYLES ==============================

@media screen and (max-width: 480px) {

.home-feature{
	background: white;
	min-height:200px;
	.container{
		padding-top: 0px;
		.col-md-4{
			padding-bottom:50px;
			text-align: center;

			h1{
				color: rgb(93, 98, 102);
			}
			p{
				font-size:1.2em;
				color:#acb1b4;
			}
		}
	}
}

.home-categories{
	.home-box{
		&:hover .home-box-content{
			opacity:1;
			pointer-events: auto;
			top:inherit;
			bottom:0px;
		}
		.home-box-content{
			position:absolute;
			top:inherit;
			bottom:0px;
			width:100%;
			padding-top:0;
			height:21%;
			background: rgba(255, 255, 255, 0.98);
			text-align: center;

			opacity:1;
			pointer-events:none;

			@include transition(0.2s);

			h2{
				color: rgb(93, 98, 102);
				font-weight: 600;
				display:none;
			}
			p{
				color: #acb1b4;
				font-size:1.2em;
				display:none;
			}
		}
	}
}

// ============================== Newsletter ==============================
.newsletter{
	padding: 50px 0;
	background:white;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	h3{
		margin-top:10px;
		padding-bottom:15px;
		text-align: center;
	}
	.form-group{
		input{
			border-radius:0;
		}
	}
	#mc-email{
		float: left;
		width:100%;
	}
	.btn{
		margin-top:0;
		width:100%;
		margin-left:0px;
	}
}

// ============================== Home Features ==============================
.home-features{
	background: #f7f8f9;
	padding: 50px 15px;
}
	
}





























