@import "components/functions";
.product-detail-top{
	margin-top: 75px;
	margin-bottom: 75px;
	.banner{
		display:none;
	}
	.product-gallery{
		img{
			width:100%;
			margin-bottom:10px;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.main-img{
		img{
			width:95%;
		}
	}

	.product-detail{
		h1{
			color: #65B8D9;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size:30px;
			span{
				color: #656565;
				text-align: right;
				float:right;
			}
		}
		h2{
			color: #acb1b4;
			font-size:1.2em;
			margin-top:5px;
		}
		p{
			color: #5d6266;
			font-size:1.1em;
      line-height: 1.6em;
		}
		.title{
			color:#656565;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding-top:25px;
			font-size:1.1em;
		}
	}
	.product-extras{
		padding-bottom:25px;
	}
}


.custom-dropdown{
	margin:0;
	padding:0;
}
.custom-dropdown select{
	border-radius:4px;
	background:white;
	border:1px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	outline:none;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
}
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\F078";
  font-family:FontAwesome;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 1.2em;
  top: 35%;
  color:#65B8D9;
  margin-top: -.5em;
}

.quantity, .input-sm{
	border-radius:0px;
	background:white;
	border:1px solid #ddd;
	width:100%;
	padding:20px 10px;
	font-weight:400;
	font-size:15px;
	color:#5d6266;
	margin-bottom:20px;
	outline:none;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	margin-bottom:0;
	box-shadow:none;
}

textarea.input-sm{
	padding-top:10px;
}

.extra{
	input{
		float: left;
		margin-right:10px;
	}
}

.product-detail-bottom{
	border-top:1px solid #f1f1f1;
	padding-bottom:50px;
	h1{
		color:#656565;
		font-weight:700;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-top:5px;
		font-size:1.3em;
		margin-bottom:30px;
	}

	.spec-row{
		padding:0;
		.col-md-12{
			border-top:1px solid #f1f1f1;
			padding: 17px 0;
			.col-md-5, .col-md-7{
				padding:0;
			}
			.col-md-7{
				p{
					color: #989A9C;
				}
			}
		}
		h4, p{
			margin-top:0;
			margin-bottom:0;
		}
		
	}
}



.chzn-select{
	box-shadow: none;
	border-radius:4px;
	border:1px solid #ddd;
	padding: 20px 10px;
	height: 43px;
}



.full-price{
	text-decoration: line-through;
	color: #acb1b4;
}


.success{
  background: #333;
  padding: 4px;
  color: white!important;
  font-style: italic;
  text-transform: uppercase;

}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        display:none;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        display:none;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        display:none;
    }
}
@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        display:none;
    }
}
// ============================== MOBILE STYLES ==============================

@media screen and (max-width: 480px) {
.product-detail-top{
	margin-top: 75px;
	margin-bottom: 75px;
	.banner{
		display:block;
	}
	.product-gallery{
		display:none;
	}
	.main-img{
		img{
			width:95%;
			display:none;
		}
	}

	.product-detail{
		h1{
			color: #65B8D9;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size:30px;
			span{
				color: #656565;
				text-align: right;
				float:right;
			}
		}
		h2{
			color: #acb1b4;
			font-size:1.2em;
			margin-top:5px;
		}
		p{
			color: #5d6266;
		}
		.title{
			color:#656565;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding-top:25px;
			font-size:1.1em;
		}
	}
	.product-extras{
		padding-bottom:25px;
	}
}


.custom-dropdown{
	margin:0;
	padding:0;
	width:100%;
}


.extra{
	input{
		float: left;
		margin-right:10px;
	}
}

.product-detail-bottom{
	border-top:1px solid #f1f1f1;
	padding-bottom:50px;
	h1{
		text-align:center;
	}

	.spec-row{
		padding:0;
		.col-md-12{
			border-top:1px solid #f1f1f1;
			padding: 17px 0;
			.col-md-5, .col-md-7{
				padding:0;
			}
			.col-md-7{
				p{
					color: #989A9C;
				}
			}
		}
		h4, p{
			margin-top:0;
			margin-bottom:0;
			text-align: center;
		}
		h4{
			margin-bottom:15px;
		}
		
	}
}



.chzn-select{
	box-shadow: none;
	border-radius:4px;
	border:1px solid #ddd;
	padding: 20px 10px;
	height: 43px;
}



.full-price{
	text-decoration: line-through;
}
}




// ============================== SLIDER STYLES ==============================

.banner{
  padding:0;
  margin-right:0;
  min-width:100%;
  margin-bottom:50px;
  width:100%;
}
.banner ul{
  list-style: none;
  padding-left:0;
}
.banner ul li{
  list-style: none;
  margin:0 auto;
  float:left;
  text-align: center;
}
.banner ul li img{
  width:100%;
  display:inline-block;
  margin:0 auto;
}
.unslider-arrow{
  position:absolute;
  top:70px;
  left:0;
}
.unslider-arrow:hover{
  cursor:pointer;
}
.banner .next{
  right:0;
  text-align: right;
}
#loading-indicator{
  z-index: 99999;
}
.list-group-item{
  border:none;
  border-top:1px solid #f1f1f1;
}

.banner .dots {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0px;
  padding-left:0;
}
.banner .dots li {
  display: inline-block;
  *display: inline;
  zoom: 1;

  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0 4px;

  text-indent: -999em;
  *text-indent: 0;

  border: 2px solid #ccc;
  border-radius: 6px;

  cursor: pointer;
  opacity: .9;

  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.banner .dots li.active {
  background: #ccc;
  opacity: 1;
}


@media screen and (max-width: 768px) {
	.product-detail-top{
	margin-top: 75px;
	margin-bottom: 75px;
	.banner{
		display:block;
	}
	.product-gallery{
		display:none;
	}
	.main-img{
		img{
			width:95%;
			display:none;
		}
	}

	.product-detail{
		h1{
			color: #65B8D9;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size:30px;
			span{
				color: #656565;
				text-align: right;
				float:right;
			}
		}
		h2{
			color: #acb1b4;
			font-size:1.2em;
			margin-top:5px;
		}
		p{
			color: #5d6266;
		}
		.title{
			color:#656565;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding-top:25px;
			font-size:1.1em;
		}
	}
	.product-extras{
		padding-bottom:25px;
	}
}


.custom-dropdown{
	margin:0;
	padding:0;
	width:100%;
}


.extra{
	input{
		float: left;
		margin-right:10px;
	}
}

.product-detail-bottom{
	border-top:1px solid #f1f1f1;
	padding-bottom:50px;
	h1{
		text-align:center;
	}

	.spec-row{
		padding:0;
		.col-md-12{
			border-top:1px solid #f1f1f1;
			padding: 17px 0;
			.col-md-5, .col-md-7{
				padding:0;
			}
			.col-md-7{
				p{
					color: #989A9C;
				}
			}
		}
		h4, p{
			margin-top:0;
			margin-bottom:0;
			text-align: center;
		}
		h4{
			margin-bottom:15px;
		}
		
	}
}


.chzn-select{
	box-shadow: none;
	border-radius:4px;
	border:1px solid #ddd;
	padding: 20px 10px;
	height: 43px;
}



.full-price{
	text-decoration: line-through;
}
}



















