.product-detail-top{
	margin-top: 75px;
	margin-bottom: 75px;
	.product-gallery{
		img{
			width:100%;
			margin-bottom:10px;
		}
	}
	.main-img{
		img{
			width:95%;
		}
	}

	.product-detail{
		h1{
			color: #65B8D9;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size:30px;
			span{
				color: #656565;
				text-align: right;
				float:right;
			}
		}
		h2{
			color: #acb1b4;
			font-size:1.2em;
			margin-top:5px;
		}
		p{
			color: #5d6266;
		}
		.title{
			color:#656565;
			font-weight:700;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding-top:25px;
			font-size:1.1em;
		}
	}
	.product-extras{
		padding-bottom:25px;
	}
}


.custom-dropdown{
	margin:0;
	padding:0;
}
.custom-dropdown select{
	border-radius:4px;
	background:white;
	border:1px solid #ddd;
	width:100%;
	padding:10px;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	outline:none;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
}
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\F078";
  font-family:FontAwesome;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 1.2em;
  top: 35%;
  color:#65B8D9;
  margin-top: -.5em;
}

.quantity, .input-sm{
	border-radius:4px;
	background:white;
	border:1px solid #ddd;
	width:100%;
	padding:20px 10px;
	font-weight:400;
	color:#989A9C;
	margin-bottom:20px;
	outline:none;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	margin-bottom:0;
	box-shadow:none;
}

.extra{
	input{
		float: left;
		margin-right:10px;
	}
}

.product-detail-bottom{
	border-top:1px solid #f1f1f1;
	h1{
		color:#656565;
		font-weight:700;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-top:5px;
		font-size:1.3em;
		margin-bottom:30px;
	}

	.spec-row{
		padding:0;
		.col-md-12{
			border-top:1px solid #f1f1f1;
			padding: 17px 0;
			.col-md-5, .col-md-7{
				padding:0;
			}
			.col-md-7{
				p{
					color: #989A9C;
				}
			}
		}
		h4, p{
			margin-top:0;
			margin-bottom:0;
		}
		
	}
}




































